.SignUpWrap {
  position: fixed;
  z-index: 1000;
  top: 0;
  display: none;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.SignUp {
  width: 900px;
  height: 675px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #DDEBEE;
  margin: 0 auto;
  border-radius: 30px;
  /* margin-top:25px; */
}



.SignUp button {
  cursor: pointer;
}
.SignUp-welcome{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0 auto;
  width: 50%;
  height: 100%;
  background-color: rgb(96, 188, 204, 63%);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}


.SignUp_form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 0 50px;
}

.SignUp_form > i {
  width: 25px;
  height: 25px;
  font-size: 25px;
  color: #2D82B8;
  align-self: flex-end;
  margin: 15px -15px 0 0;
  cursor: pointer;
}

.SignUp_form > img {
  height: 70px;
  object-fit: contain;
}

.SignUp_form > h1 {
  color: #C0556F;
  font-size: 25px;
  font-weight: 600;
}

.SignUp_form > input,
.SignUp_form .SignUp_password input {
  width: 350px;
  height: 40px;
  padding: 12px;
  border: 1px solid #2D82B8;
  border-radius: 10px;
  background-color: transparent;
  color: #2D82B8;
  margin: 2px;
}

.SignUp_form .SignUp_password input {
  padding-right: 50px;
}

.SignUp_form > input::placeholder,
.SignUp_form .SignUp_password input::placeholder {
  color: #2D82B8;
}

.SignUp_form .SignUp_password {
  position: relative;
}

.SignUp_form .SignUp_password i {
  position: absolute;
  right: 20px;
  top: 0;
  color: #2D82B8;
  line-height: 40px;
  cursor: pointer;
} 

.SignUp_form .SignUp_check {
  align-self: flex-start;
  margin-top: -10px;
}

.SignUp_form .SignUp_check input {
  width: 15px;
  height: 15px;
  margin: 4px 2px 0 0;
}

.SignUp_form .SignUp_check label {
  color: #2D82B8;
  margin: 15px 0px;
}

.SignUp_form > a > button {
  width: 160px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #2D82B8;
  border: none;
  border-radius: 30px;
  font-style: normal;
  margin: 0px 0px 50px 0px;
}

.SignUp_form > a{
  text-decoration: none;
  font-size: 15px;
  font-style: italic;
  color: #2D82B8;
}

.SignUp_form .SignUp_method {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0px -15px 0px;
}

.SignUp_form .SignUp_method .line {
  display: inline-block;
  width: 50px;
  height: 0.5px;
  background-color: #2D82B8;
}

.SignUp_form .SignUp_method span:nth-child(2) {
  color: #2D82B8;
  font-size: 15px;
  margin: 0 8px;
}

.SignUp_form .SignUp_media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SignUp_form .SignUp_media > img {
  object-fit: contain;
  width: 40px;
  margin: 0 4px;
}

.SignUp_form .SignUp_toSignUp {
  margin-top: 10px;
}

.SignUp_form .SignUp_toSignUp > span {
  font-size: 14px;
  font-style: italic;
  color: #C0556F;
}

.SignUp_form .SignUp_toSignUp > button {
  width: 80px;
  height: 30px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 30px;
  border: none;
  background-color: #EF6565;
  margin-left: 8px;;
}

.SignUp_form .triangle {
  position: absolute;
  top: 60px;
  left: -57px;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-right: 66px solid transparent;
}

.SignUp_form i {
  color: #025B95;
}

.SignUp-welcome h1 {
  padding: 10px;
  color:#025B95;
  font-weight: 500;
  
}